.container{
    max-width: 800px;
    background-color: #efeeee;
}

.title-line {
    width: 60px;
    height: 3px;
    background-color: #F7941E;
    margin-top: 5px;
    margin-left: 10px;
}

.btn-calc {
    background-color: #1e3a5f;
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
}

.btn-reset {
    background-color: #d9534f;
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
}

.total-price {
    font-size: 22px;
    font-weight: 400;
    color: #464646;
}

#designer-paper {
    display: none;
}

.total-price .value {
    font-weight: 700;
    font-size: 22px;
}

.unit-price {
    font-size: 16px;
    margin-top: 5px;
    color: #7a7a7a;
}

.unit-price .value {
    font-weight: 700;
}

.complect-price {
    display: none;
    font-size: 16px;
    margin-top: 5px;
    color: #7a7a7a;
}

.complect-price .value {
    font-weight: 700;
}
